{% extends "OutlandishTwitterKeyWordsBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block title %}KeyWords{% endblock %}

{% block content %}
    <p>Here are some keyterms for alexhern:</p>
    <div id="chart" style="height:800px;"></div>
    <div id="slider"></div>
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="app.js"></script>
    <script>
        {#app.state.data = {{ data | json_encode() }};#}
        app.chart.init();
    </script>
{% endblock %}

