{% extends "OutlandishTwitterKeyWordsBundle::layout.html.twig" %}

{% block title %}Please pick a name{% endblock %}

{% block content %}

    Please pick a twitter handle from the list below:

    <a href="/alexhern">alexhern</a>

{% endblock %}